@using viFactory.Helpers
@model IEnumerable<Repository.Models.ApplicationUser>

@{
    ViewBag.Title = "_Partners";
}



<div>
    <h4>@Resources.Resource.OurPartners</h4>
    <hr/>
    @foreach (var item in Model)
    {
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.FirstName)
            </dt>

            <dd>
                @Html.DisplayFor(modelItem => item.FirstName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.LastName)
            </dt>

            <dd>
                @Html.DisplayFor(modelItem => item.LastName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Url)
            </dt>

            <dd>
                @Html.DisplayFor(modelItem => item.Url)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ImageId)
            </dt>

            <dd>
                @{
                            var imageSrc = string.Empty;
                            if (item.Avatar!=null)
                            {

                                var imageBase64 = Html.ImageFromByteArray(item.Avatar.Image);
                                imageSrc = string.Format("data:image/gif;base64,{0}", imageBase64);
                                <img src="@imageSrc" style="height: 100px; width: 100px"/>
                            }
                }
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.FullName)
            </dt>

            <dd>
                @Html.DisplayFor(modelItem => item.FullName)
            </dd>

        </dl>
    }
</div>
<p>
</p>
