@model IEnumerable<Repository.Models.News>


@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron logo">
    @*<p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>*@
</div>

<div class="row">
    <div class="col-md-4">
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Content)
                </th>
               
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Content)
                    </td>
                   <td>
                       @{
                            string imageBase64 = Convert.ToBase64String(item.Images.FirstOrDefault().Image);
                            string imageSrc = string.Format("data:image/gif;base64,{0}", imageBase64);
                        }
                      <img src="@imageSrc"width="100" height="100" />
                   </td>
                </tr>
            }

        </table>
    </div>
</div>

<style>
    .logo {
        background-size: 100%;
        background-size: cover;
        background-position: center center;
        vertical-align: top;
        background-image: url('../../Resources/logo.jpg');
        background-repeat:no-repeat;
    }  

</style>