@using PagedList.Mvc;
@using viFactory.Helpers
@model Repository.Models.NewsUsersViewModel


@{
    ViewBag.Title = "Home Page";
}
<script src="~/Scripts/news.js"></script>
<link href="~/Content/news.css" rel="stylesheet" />
<link href="~/Content/PagedList.css" rel="stylesheet" />
@*<div class="jumbotron logo">
    
</div>*@
<div class="row">
    <div class="col-md-3">
        @Html.Partial("_Partners", Model.PartnerUser)
    </div>
    <div class="col-md-6">
       
            @foreach (var item in Model.NewsPagedList)
            {
                <div class="row">
                    <div class="news">
                        <div class="newsTitle">
                            <h2>
                                @Html.DisplayFor(modelItem => item.Title)
                            </h2>
                        </div>
                        <div class="newsImage">
                            @{
                            var imageSrc = string.Empty;
                            if (item.Images.Any())
                            {

                                var imageBase64 = Html.ImageFromByteArray(item.Images.FirstOrDefault().Image);
                                imageSrc = string.Format("data:image/gif;base64,{0}", imageBase64);
                                <img src="@imageSrc" />
                            }
                            }
                        </div>
                        <div class="newsContent">
                            <span>
                                @Html.DisplayFor(modelItem => item.Content)
                            </span>
                        </div>
                        <div class="newsFooter">
                            @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-warning" })
                        </div>
                    </div>
                </div>
            }
        <div>
            @Resources.Resource.Page
            @(Model.NewsPagedList.PageCount < Model.NewsPagedList.PageNumber ? 0 : Model.NewsPagedList.PageNumber)
            @Resources.Resource.PageFrrom @Model.NewsPagedList.PageCount
            @Html.PagedListPager(Model.NewsPagedList, page => Url.Action("Index", new { page }))
        </div>
    </div>
    <div class="col-md-3">.col-md-3</div>
</div>